<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		">

	<!-- Paquete de escaneo de componentes -->
	<context:component-scan base-package="com.example.hibernate_web_dinamica" />

	<!-- Conversión formateo y validación-->
	<mvc:annotation-driven/>

	<!-- Configuración Spring MVC directorio view  -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/vista/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!--
        &lt;!&ndash; Origen BBDD y connection pool &ndash;&gt;
        <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
              destroy-method="close">
            <property name="driverClass" value="com.mysql.jdbc.Driver" />
            <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/gestionPedidosCRUD?useSSL=false&amp;serverTimezone=UTC" />
            <property name="user" value="root" />
            <property name="password" value="" />
            &lt;!&ndash; Propiedades connection pool para C3P0 &ndash;&gt;
            <property name="minPoolSize" value="5" />
            <property name="maxPoolSize" value="20" />
            <property name="maxIdleTime" value="30000" />
        </bean>



        &lt;!&ndash;  Configuración Hibernate session factory &ndash;&gt;
        <bean id="sessionFactory"
            class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
            <property name="dataSource" ref="myDataSource" />
            <property name="packagesToScan" value="com.example.hibernate_web_dinamica" />
            <property name="hibernateProperties">
               <props>
                  <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                  <prop key="hibernate.show_sql">true</prop>
               </props>
            </property>
       </bean>
		-->
        <!--  Configuración Hibernate transaction manager -->
        <bean id="miTransactionManager"
                class="org.springframework.orm.hibernate5.HibernateTransactionManager">
            <!--<property name="sessionFactory" ref="sessionFactory"/>-->
        </bean>
    
    <!-- Habilitar configuración de transacciones basadas en anotaciones -->
	<!--<tx:annotation-driven transaction-manager="miTransactionManager" />-->

</beans>





