<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--Url de la base de datos-->
        <property name="connection.url">jdbc:mysql://localhost:3306/relacionesHibernate?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>-->
        <property name="hibernate.show_sql">true</property>

        <!--<mapping resource="ejemplo01/Profesor.hbm.xml"/>
        <mapping class="ejemplo01.Profesor"/>-->

    </session-factory>
</hibernate-configuration>